<add-user [displayModal]="displayModal" [displayHandler]="displayHandler" [addUser]="addUser" [roles]="roles"></add-user>
<div class="header">
	<div class="half">	
		<div class="title">Usuarios</div>
		<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
	</div>
	<div class="half">
		<button> <i class="far fa-eye"></i>  Previsualizar</button>
		<button (click)="displayHandler()">  <i class="fas fa-plus"></i> Agregar nuevo usuario</button>
	</div>
</div>

<div class="container">
	<div class="tools">
		<div class="search">
			Búsqueda <input type="text">
		</div>
		<div class="selects">
			<select>
				<option value="5">5 por página</option>
				<option value="8">8 por página</option>
				<option value="10">10 por página</option>
			</select>

			<select>
				<option value="1">Ordenar de A - Z</option>
				<option value="2">Ordenar Z - A</option>
			</select>

			<select>
				<option value="todos">Todos</option>
			</select>
		</div>
		<div class="list-display">
			<i class="fas fa-list" [ngStyle]="{'color':displayList?'#ff6a28':'#bcbcbc'}" (click)="changeDisplay(true)"></i>
			<i class="fas fa-th" [ngStyle]="{'color':!displayList?'#ff6a28':'#bcbcbc'}" (click)="changeDisplay(false)"></i>
		</div>
	</div>
</div>
<display-users [displayList]="displayList" [users]="users" [roles]="roles" [deleteUser]="deleteUser"></display-users>