<div class="container">
	<table *ngIf="displayList">
		<thead>
			<tr>
				<td></td>
				<td>Foto</td>
				<td>Nombre</td>
				<td>Apellido Paterno</td>
				<td>Apellido Materno</td>
				<td>Correo</td>
				<td>Rol</td>
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
				<td> <div class="photo" [ngStyle]="{'background-image':'url('+user.picture+')'}"></div> </td>
				<td>{{user.name}}</td>
				<td>{{user.fathersLastName}}</td>
				<td>{{user.mothersLastName}}</td>
				<td>{{user.email}}</td>
				<td>{{roles[user.roleId-1].position}}</td>
				<td>
					<label class="switch">
						<input type="checkbox" name="status" [checked]="user.active">
						<span class="slider round"></span>
					</label>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="!displayList">
		<div *ngFor="let user of users" class="card">
			<div><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></div>
			<div class="photo" [ngStyle]="{'background-image':'url('+user.picture+')'}"></div>
			<div class="name">{{user.name}} {{user.fathersLastName}} {{user.mothersLastName}}</div>
			<div class="mail"> {{user.email}} </div>
			<div class="rol"> {{roles[user.roleId-1].position}} </div>
			<hr>
			<label class="switch">
				<input type="checkbox" name="status" [checked]="user.active">
				<span class="slider round"></span>
			</label>
		</div>
	</div>
</div>
