.container{
	width: 84%;
	margin: auto;
	background-color: #ffffff;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

table{
	width: 100%;
	border-collapse: collapse; 
}

thead{
	font-family: Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 15px;
}

tr{
	border: 1px solid #e8e8e8 !important;
}

td{
	padding: 1% 1%;
	font-family: Arial, Helvetica, sans-serif;
	color: #5F5F5F;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.photo{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75px;
}

tbody td:first-child{
	color: #cfcfcf;
	width: 5%;
	text-align: center;
}

tbody td:last-child{
	width: 15%;
}