.container{
	width: 84%;
	margin: auto;
	background-color: #ffffff;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

table{
	width: 100%;
	border-collapse: collapse; 
}

thead{
	font-family: Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 15px;
}

tr{
	border: 1px solid #e8e8e8 !important;
}

tbody tr{
	cursor: pointer;
}

tbody tr:hover{
	background-color: #f9f9f9;
}

td{
	padding: 1% 1%;
	font-family: Arial, Helvetica, sans-serif;
	color: #5F5F5F;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.photo{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75px;
}

tbody td:first-child{
	color: #cfcfcf;
	width: 5%;
	text-align: center;
}

tbody td:last-child{
	width: 15%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #637ea8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #637ea8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}